<div class="p-fluid">
  <p-toast />
  <h2>Лабораторийн дүн</h2>
  <div class="filter-section">
    <p-dropdown
      [options]="weekdays"
      [(ngModel)]="selectedWeekday"
      (onChange)="onSelectionChange()"
      placeholder="Гариг"
    >
    </p-dropdown>
    <p-dropdown
      [options]="times"
      [(ngModel)]="selectedTimes"
      (onChange)="onSelectionChange()"
      placeholder="Цаг"
    >
    </p-dropdown>
    <input
      type="text"
      pInputText
      [(ngModel)]="searchQuery"
      (input)="onSelectionChange()"
      placeholder="Нэр эсвэл ID хайх..."
      class="search-input"
    />
    <p-button
      label="Шүүлт цэвэрлэх"
      icon="pi pi-refresh"
      (click)="clearFilter()"
      class="refresh-btn"
    ></p-button>
    <button
      pButton
      type="button"
      *ngIf="!showPreviousWeeks"
      label="Өмнөх долоо хоногуудыг харах"
      (click)="togglePreviousWeeks()"
    ></button>
    <button
      pButton
      type="button"
      *ngIf="showPreviousWeeks"
      label="Одоогийн долоо хоногийг харах"
      (click)="togglePreviousWeeks()"
    ></button>
    <button
      pButton
      type="button"
      label="Дүн засах"
      (click)="toggleShowEdit()"
    ></button>
    <button pButton type="button" label="Хадгалах" (click)="save()"></button>
  </div>

  <p-table [value]="labGradeRecords">
    <ng-template pTemplate="header">
      <tr *ngIf="!showPreviousWeeks">
        <th rowspan="2">№</th>
        <th rowspan="2">Оюутан</th>
        <th colspan="2">{{ getCurrentWeeks() }}</th>
      </tr>
      <tr *ngIf="!showPreviousWeeks">
        <th>Лабораторийн хэмжилт, туршилт, даалгавар гүйцэтгэх</th>
        <th>
          Үр дүнг тохирох аргаар өгөгдсөн форматын дагуу боловсруулж, тайлагнах
        </th>
      </tr>
      <tr *ngIf="showPreviousWeeks">
        <th rowspan="2">№</th>
        <th rowspan="2">Оюутан</th>
        <th colspan="2" *ngFor="let week of getAllWeeks()">
          {{ week }}
        </th>
      </tr>
      <tr *ngIf="showPreviousWeeks">
        <ng-container *ngFor="let week of getAllWeeks()">
          <th>Лабораторийн хэмжилт, туршилт, даалгавар гүйцэтгэх</th>
          <th>
            Үр дүнг тохирох аргаар өгөгдсөн форматын дагуу боловсруулж,
            тайлагнах
          </th>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record let-ri="rowIndex">
      <tr *ngIf="!showPreviousWeeks">
        <td>{{ ri + 1 }}</td>
        <td>{{ record.student.code }} - {{ record.student.name }}</td>
        <td>
          <div class="mur" *ngIf="showEdit">
            <p-inputNumber
              class="max-w-3rem"
              styleClass="max-w-3rem"
              inputStyleClass="max-w-3rem"
              [(ngModel)]="record.grade1[getCurrentWeeks()]"
            ></p-inputNumber>
          </div>
          <div class="mur" *ngIf="!showEdit">
            {{ record.grade1[getCurrentWeeks()] }}
          </div>
        </td>
        <td>
          <div class="mur" *ngIf="showEdit">
            <p-inputNumber
              class="max-w-3rem"
              styleClass="max-w-3rem"
              inputStyleClass="max-w-3rem"
              [(ngModel)]="record.grade2[getCurrentWeeks()]"
            ></p-inputNumber>
          </div>
          <div class="mur" *ngIf="!showEdit">
            {{ record.grade2[getCurrentWeeks()] }}
          </div>
        </td>
      </tr>
      <tr *ngIf="showPreviousWeeks">
        <td>{{ ri + 1 }}</td>
        <td>{{ record.student.code }} - {{ record.student.name }}</td>
        <td *ngFor="let week of getAllWeeks()">
          <div class="mur" *ngIf="showEdit">
            <p-inputNumber
              class="max-w-3rem"
              styleClass="max-w-3rem"
              inputStyleClass="max-w-3rem"
              [(ngModel)]="record.grade1[week]"
            ></p-inputNumber>
          </div>
          <div class="mur" *ngIf="!showEdit">
            {{ record.grade1[week] }}
          </div>
        </td>
        <td *ngFor="let week of getAllWeeks()">
          <div class="mur" *ngIf="showEdit">
            <p-inputNumber
              class="max-w-3rem"
              styleClass="max-w-3rem"
              inputStyleClass="max-w-3rem"
              [(ngModel)]="record.grade2[week]"
            ></p-inputNumber>
          </div>
          <div class="mur" *ngIf="!showEdit">
            {{ record.grade2[week] }}
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
