<div class="card">
  <p-toast></p-toast>
  <div>
    <p-button label="Хадгалах" class="submit-button" (click)="save()" />
  </div>

  <p-table
    [value]="assessments"
    rowGroupMode="subheader"
    groupRowsBy="clo.type"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="3" style="width: 5%">№</th>
        <th rowspan="3" style="width: 35%">Суралцахуйн үр дүнгүүд</th>
        <th colspan="6" style="width: 60%">Үнэлгээний аргууд</th>
      </tr>
      <tr>
        <th style="width: 10%">Ирц/ хичээлд оролцсон байдал</th>
        <th style="width: 10%">Даалгавар/Бие даалт</th>
        <th style="width: 10%">Явцын шалгалт/сорил</th>
        <th style="width: 10%">Курсын ажил/ Төсөл</th>
        <th style="width: 10%">Лабораторын ажил</th>
        <th rowspan="2" style="width: 10%">Улирлын шалгалт (30 оноо)</th>
      </tr>
      <tr>
        <th colspan="5" style="width: 10%">Явцын үнэлгээ (70 оноо)</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="groupheader" let-clo>
      <tr pRowGroupHeader>
        <td colspan="8">
          <div class="flex items-center gap-2">
            <strong>
              {{ getGroupHeaderLabel(clo.clo.type) }}
            </strong>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-clo let-ri="rowIndex">
      <tr>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input pInputText type="text" [(ngModel)]="index" disabled />
            </ng-template>
            <ng-template pTemplate="output">
              {{ ri + 1 }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <input
                pInputText
                type="text"
                [(ngModel)]="clo.clo.cloName"
                disabled
              />
            </ng-template>
            <ng-template pTemplate="output">
              {{ clo.clo.cloName }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-checkbox
                [(ngModel)]="clo.attendance"
                binary="true"
              ></p-checkbox>
            </ng-template>
            <ng-template pTemplate="output">
              <p-checkbox
                [(ngModel)]="clo.attendance"
                binary="true"
                [disabled]="true"
              ></p-checkbox>
            </ng-template>
          </p-cellEditor>
        </td>

        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-checkbox
                [(ngModel)]="clo.assignment"
                binary="true"
              ></p-checkbox>
            </ng-template>
            <ng-template pTemplate="output">
              <p-checkbox
                [(ngModel)]="clo.assignment"
                binary="true"
                [disabled]="true"
              ></p-checkbox>
            </ng-template>
          </p-cellEditor>
        </td>

        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-checkbox [(ngModel)]="clo.quiz" binary="true"></p-checkbox>
            </ng-template>
            <ng-template pTemplate="output">
              <p-checkbox
                [(ngModel)]="clo.quiz"
                binary="true"
                [disabled]="true"
              ></p-checkbox>
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-checkbox [(ngModel)]="clo.project" binary="true"></p-checkbox>
            </ng-template>
            <ng-template pTemplate="output">
              <p-checkbox
                [(ngModel)]="clo.project"
                binary="true"
                [disabled]="true"
              ></p-checkbox>
            </ng-template>
          </p-cellEditor>
        </td>

        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-checkbox [(ngModel)]="clo.lab" binary="true"></p-checkbox>
            </ng-template>
            <ng-template pTemplate="output">
              <p-checkbox
                [(ngModel)]="clo.lab"
                binary="true"
                [disabled]="true"
              ></p-checkbox>
            </ng-template>
          </p-cellEditor>
        </td>

        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-checkbox [(ngModel)]="clo.exam" binary="true"></p-checkbox>
            </ng-template>
            <ng-template pTemplate="output">
              <p-checkbox
                [(ngModel)]="clo.exam"
                binary="true"
                [disabled]="true"
              ></p-checkbox>
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>

    <ng-template #footer>
      <tr *ngFor="let footer of assessFooter || []">
        <td colspan="2" class="text-right font-bold pr-12">
          {{ footer.name }}
        </td>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                [(ngModel)]="footer.attendanceValue"
                [min]="0"
                [max]="100"
                [step]="0.1"
                [readonly]="false"
              ></p-inputNumber>
            </ng-template>
            <ng-template pTemplate="output">
              {{ footer.attendanceValue }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                [(ngModel)]="footer.assignmentValue"
                [min]="0"
                [max]="100"
                [step]="0.1"
                [readonly]="false"
              ></p-inputNumber>
            </ng-template>
            <ng-template pTemplate="output">
              {{ footer.assignmentValue }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                [(ngModel)]="footer.quizValue"
                [min]="0"
                [max]="100"
                [step]="0.1"
                [readonly]="false"
              ></p-inputNumber>
            </ng-template>
            <ng-template pTemplate="output">
              {{ footer.quizValue }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                [(ngModel)]="footer.projectValue"
                [min]="0"
                [max]="100"
                [step]="0.1"
                [readonly]="false"
              ></p-inputNumber>
            </ng-template>
            <ng-template pTemplate="output">
              {{ footer.projectValue }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                [(ngModel)]="footer.labValue"
                [min]="0"
                [max]="100"
                [step]="0.1"
                [readonly]="false"
              ></p-inputNumber>
            </ng-template>
            <ng-template pTemplate="output">
              {{ footer.labValue }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td [pEditableColumn]>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <p-inputNumber
                [(ngModel)]="footer.examValue"
                [min]="0"
                [max]="100"
                [step]="0.1"
                [readonly]="false"
              ></p-inputNumber>
            </ng-template>
            <ng-template pTemplate="output">
              {{ footer.examValue }}
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
