.exam-main{
  display: flex;
  align-items: center;
  flex-direction: column;

}

.question-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  width: 400px;
}

.question-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

.answers {
  margin-top: 10px;
}

.answer-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

::ng-deep .p-splitter {
  border: none !important;
  border-radius: 0 !important;
}
::ng-deep .p-splitter-gutter {
  border: none !important;
  border-radius: 0 !important;
  background-color: transparent !important;
}


input{
  margin: 10px 0px;
  height: 40px;
  border: black solid 1px;
  border-radius: 10px;
}


.right-menu {
  width: 16%;
  padding: 10px;
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  position: absolute;
  left: 84%;
  top: 10%;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.page-btn {
  font-size: larger;
  width: 35px;
  height: 45px;
  background-color: white;
  border: 1px solid #007bff;
  color: #007bff;
  cursor: pointer;
  border-radius: 4px;
}
.page-btn:hover {
  background-color: #007bff;
  color: white;
}
.end-btn {
  width: 100%;
  height: 30px;
  background-color: white;
  border: 1px solid #007bff;
  color: #007bff;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}
.end-btn:hover {
  background-color: #007bff;
  color: white;
}

.act-btn {
  background-color: blue;
}

.non-act-btn {
  background-color: red;
}


.action-btn{
  color: white;
  border-radius: 30px;
  width: 200px;
  height: 40px;
  background: #0A0065;
  border: 0px;
  font-size: 16px;
  margin-right: 20px;
}
.action-btn:hover{
  background-color: #6e5ff5; /* Hover effect */
  border: solid 1px #0A0065;
  transition: 500ms;
}

