<div class="lesson-list-container">
  <div class="lesson-add-header">
    <button
      pButton
      label="Санал асуулга нэмэх"
      icon="pi pi-plus"
      severity="info"
      (click)="addLesson()"
    ></button>
  </div>
  <form [formGroup]="teacherForm" class="auth-form">
    <div class="card-question">
      <div>
        <div class="question">
          <div class="questionTitle">
            <p-floatlabel variant="on" class="w-full">
              <input
                pInputText
                formControlName="questionCode"
                id="questionCode"
                autocomplete="off"
                class="w-full"
              />
              <label for="questionCode">Хичээлийн нэр</label>
            </p-floatlabel>
          </div>
          <div class="questionType">
            <p-dropdown
              formControlName="questionType"
              [options]="questionTypes"
              optionLabel="name"
              optionValue="id"
              placeholder="Тэнхим"
              class="form-dropdown"
            />
          </div>
        </div>
        <div class="answers" ngFor="asnwers">
          <div class="check-box">
            <input class="checkboxs" type="checkbox" />
            <div class="answer">
              <p-floatlabel variant="on" class="w-full">
                <input
                  pInputText
                  formControlName="questionCode"
                  id="questionCode"
                  autocomplete="off"
                  class="w-full"
                />
                <label for="questionCode">Хичээлийн нэр</label>
              </p-floatlabel>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-button
      label="Нэмэх"
      icon="pi pi-plus"
      severity="info"
      (click)="addQuestion()"
      class="mt-3"
    />
  </form>
</div>
