.lesson-list-container {
  background-image: url("../../../../../assets/img/must_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 500px;
  padding: 20rem 2rem 2rem 2rem;
}

.lesson-list-container button {
  width: 12rem;
  font-size: 1rem;
  padding: 0.75rem;
  border-radius: 1rem;
}

.lesson-list-container .p-dropdown {
  width: 12rem;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 1rem;
}

.lesson-list-container .lesson-add-header {
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.lesson-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 100%;
  max-width: 1200px;
}

.lesson-card {
  position: relative;
  background: white;
  border-radius: 0.75rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lesson-card .copy-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.lesson-card a {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.lesson-card a:hover {
  color: #0056b3;
}

.lesson-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

.footer {
  background-color: #003391;
  padding: 1rem;
  text-align: center;
}

.footer .footer-content {
  color: #555;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
}

.footer .footer-content .footer-content-image {
  color: #ffffff;
  width: 30%;
  justify-items: flex-start;
}

.footer .footer-content .footer-content-image p {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
}

.footer .footer-content .footer-content-text {
  color: #ffffff;
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.footer .footer-content .footer-content-text .footer-content-text-p1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .footer-content .footer-content-text .footer-content-text-p1 p {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
}

.footer .footer-content .footer-content-text .footer-content-text-p1 span {
  margin-bottom: 20px;
}

.footer .footer-content .footer-content-text .footer-content-text-p2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .footer-content .footer-content-text .footer-content-text-p2 p {
  font-size: large;
  font-weight: bold;
  margin-top: 10px;
}

.footer .footer-content .footer-content-text .footer-content-text-p2 a {
  margin-bottom: 20px;
  text-decoration: none;
  color: #fcd917;
}
