<div class="card">
  <p-menubar>
    <ng-template pTemplate="start"> </ng-template>
    <ng-template pTemplate="item" let-item let-root="root"> </ng-template>
    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <i
          class="pi pi-sign-out"
          pTooltip="Гарах"
          tooltipPosition="left"
          (click)="logout()"
        ></i>
      </div>
    </ng-template>
  </p-menubar>
</div>
<div class="lesson-list-container">
  <p-toast />
  <div class="lesson-add-header">
    <button
      pButton
      label="Хичээл нэмэх"
      icon="pi pi-plus"
      (click)="addLesson()"
      *ngIf="create"
    ></button>
    <p-dropdown
      [options]="yearIntervals"
      [(ngModel)]="selectedInterval"
      placeholder="Select a Year Interval"
      (onChange)="onYearChange($event.value)"
    ></p-dropdown>
    <p-dropdown
      [(ngModel)]="selectedSeason"
      [options]="recommendedSemester"
      (onChange)="onSeasonChange($event.value)"
    />
  </div>

  <div class="lesson-cards" *ngIf="courses.length !== 0">
    <div *ngFor="let lesson of courses" class="lesson-card">
      <p-card [style]="{ width: '100%', overflow: 'hidden' }">
        <ng-template #title> {{ lesson.department }}</ng-template>
        <a
          [routerLink]="['/main/teacher/lesson', lesson.id, 'curriculum']"
          *ngIf="create"
        >
          {{ lesson.lessonCode }} - {{ lesson.lessonName }}
        </a>
        <a [routerLink]="['/main/teacher/report', lesson.id]" *ngIf="!create">
          {{ lesson.lessonCode }} - {{ lesson.lessonName }}
        </a>
        <p-button
          icon="pi pi-copy"
          class="copy-button"
          [rounded]="true"
          [text]="true"
          severity="success"
          (click)="copyLessonToClipboard(lesson)"
        />
      </p-card>
    </div>
  </div>
  <div *ngIf="courses.length === 0" style="padding: 100px">
    <!-- <p-card [style]="{ width: '100%', overflow: 'hidden' }"> -->
    <h1>Хичээл бүртгэгдээгүй байна.</h1>
    <!-- </p-card> -->
  </div>
</div>

<div style="height: auto"></div>
<!--
<footer class="footer">
  <div class="footer-content">
    <div class="footer-content-image">
      <p>ШУТИС - МХТС</p>
      <div class="card flex justify-center">
        <p-image src="assets/img/White_logo.png" alt="Image" width="250" />
      </div>
      <span>&copy; Copyright © 2024 МХТС.</span>
    </div>
    <div class="footer-content-text">
      <div class="footer-content-text-p1">
        <p>ХОЛБОО БАРИХ</p>
        <span> ШУТИС-ийн МХТС </span>
        <span> sict&#64;must.edu.mn </span>
        <span> +976-70151333 </span>
        <span> Баянзүрх дүүрэг, 22 хороо, МХТС </span>
      </div>
      <div class="footer-content-text-p2">
        <p>ЧУХАЛ ХОЛБООС</p>
        <a href="https://www.must.edu.mn/mn/"> ШУТИС-ийн Вэб </a>
        <a href="http://www.sict.edu.mn/"> МХТС-ийн Вэб </a>
        <a href="https://professor.must.edu.mn/"> Багшийн Вэб </a>
        <a href="https://student.must.edu.mn/Login?ReturnUrl=%2f">
          Оюутны Вэб
        </a>
      </div>
    </div>
  </div>
</footer> -->
