.container {
  display: flex;
  gap: 20px;
  align-items: baseline;

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .col2 {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .p-float-label p-inputnumber:-webkit-autofill + label {
        top: -0.75rem;
        font-size: 12px;
      }
    }

    .col3 {
      display: flex;
      justify-content: space-between;
    }
  }
}
