.title {
    font-size: 2rem;
    margin-left: 5%;
    margin-top: 20px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    margin-top: 50px;
}

.action-btn, .form {
    display: flex;
    align-items: center;
}

.form {
    width: 50%;
}

.student-count {
    display: flex;
    padding: 0 10%;
    margin-top: 20px;
    font-weight: bold;
}

.student-count span {
    margin-left: 10px;
}

.table-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.custom-table th, .custom-table td {
    padding: 8px;
    border: 1px solid #ddd;
}

.custom-table th {
    background-color: #f4f4f4;
}