<p-table [value]="summaryData" responsiveLayout="scroll">
  <ng-template pTemplate="header">
    <tr>
      <th>Үнэлгээ / CLOs</th>
      <th *ngFor="let clo of cloList">{{ getCloName(clo) }}</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-row>
    <tr>
      <td>{{ row.label }}</td>
      <td
        style="text-align: center"
        *ngFor="let clo of cloList"
        [ngStyle]="getCellStyle(row.values[clo], row.type)"
      >
        {{ row.values[clo] }}<span *ngIf="row.type === 'percent'">%</span>
      </td>
    </tr>
  </ng-template>
</p-table>
