<div class="card">
  <p-toast></p-toast>
  <h2 class="mb-4 text-lg font-semibold">Тохиргооны бүртгэл</h2>

  <form [formGroup]="configForm" (ngSubmit)="onSubmit()" class="p-fluid">
    <div class="p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
          id="branchId"
          formControlName="branchId"
          [options]="branches"
          optionLabel="name"
          placeholder="Салбар сургууль"
          class="w-full"
          (onChange)="onBranchChange($event.value)"
        ></p-dropdown>
        <small
          *ngIf="
            configForm.get('branchId')?.invalid &&
            configForm.get('branchId')?.touched
          "
          class="p-error"
        >
          Салбар сургууль заавал оруулана уу.
        </small>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <p-dropdown
          id="department"
          formControlName="department"
          [options]="departments"
          class="w-full"
          optionLabel="name"
          placeholder="Тэнхим"
        ></p-dropdown>
        <small
          *ngIf="
            configForm.get('department')?.invalid &&
            configForm.get('department')?.touched
          "
          class="p-error"
        >
          Тэнхим заавал оруулна уу.
        </small>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <input
          id="name"
          type="text"
          pInputText
          formControlName="name"
          placeholder="Тохиргооны нэр"
          class="w-full"
        />
        <small
          *ngIf="
            configForm.get('name')?.invalid && configForm.get('name')?.touched
          "
          class="p-error"
        >
          Тохиргооны нэр заавал оруулна уу.
        </small>
      </div>

      <div class="p-field p-col-12 p-md-6">
        <input
          id="itemCode"
          type="text"
          pInputText
          formControlName="itemCode"
          placeholder="Тохиргооны код"
          class="w-full"
        />
        <small
          *ngIf="
            configForm.get('itemCode')?.invalid &&
            configForm.get('itemCode')?.touched
          "
          class="p-error"
        >
          Тохиргооны код заавал оруулна уу.
        </small>
      </div>

      <!-- Item Value -->
      <div class="p-field p-col-12 p-md-6">
        <input
          id="itemValue"
          type="text"
          pInputText
          formControlName="itemValue"
          placeholder="Тохиргооны утга"
          class="w-full"
        />
        <small
          *ngIf="
            configForm.get('itemValue')?.invalid &&
            configForm.get('itemValue')?.touched
          "
          class="p-error"
        >
          Тохиргооны утга заавал оруулна уу.
        </small>
      </div>

      <!-- Submit Button -->
      <div class="p-field p-col-12 mt-3">
        <button
          pButton
          type="submit"
          label="Submit"
          [disabled]="configForm.invalid"
          class="w-full"
        ></button>
      </div>
    </div>
  </form>
</div>

<p-table [value]="items" editMode="row">
  <ng-template pTemplate="header">
    <tr>
      <th>Салбар сургууль</th>
      <th>Тэнхим</th>
      <th>Тохиргооны нэр</th>
      <th>Тохиргооны код</th>
      <th>Тохиргооны утга</th>
      <th>Үйлдэл</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item let-ri="rowIndex">
    <tr [pEditableRow]="item">
      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayBranch">
          <p-dropdown
            [(ngModel)]="item.branchId"
            [options]="branches"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a branch"
            (onChange)="onBranchChangeTable($event.value)"
            appendTo="body"
          ></p-dropdown>
        </ng-container>
        <ng-template #displayBranch>
          {{ getBranchName(item.branchId) }}
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayDepartment">
          <p-dropdown
            [(ngModel)]="item.department"
            [options]="departments"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a department"
            appendTo="body"
          ></p-dropdown>
        </ng-container>
        <ng-template #displayDepartment>
          {{ getDepartmentName(item.department) }}
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayName">
          <input pInputText [(ngModel)]="item.name" />
        </ng-container>
        <ng-template #displayName>{{ item.name }}</ng-template>
      </td>

      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayItemCode">
          <input pInputText [(ngModel)]="item.itemCode" />
        </ng-container>
        <ng-template #displayItemCode>{{ item.itemCode }}</ng-template>
      </td>

      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayItemValue">
          <input pInputText [(ngModel)]="item.itemValue" />
        </ng-container>
        <ng-template #displayItemValue>{{ item.itemValue }}</ng-template>
      </td>

      <td>
        <div class="flex items-center justify-center gap-2">
          <button
            *ngIf="editingRowId !== item._id"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            text
            rounded
            severity="secondary"
            (click)="onRowEditInit(item, ri)"
          ></button>

          <button
            *ngIf="editingRowId === item._id"
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            text
            rounded
            severity="success"
            (click)="onRowEditSave(item)"
          ></button>

          <button
            *ngIf="editingRowId === item._id"
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            text
            rounded
            severity="danger"
            (click)="onRowEditCancel(item, ri)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
