<p-toast></p-toast>
<h2 class="mb-4 text-lg font-semibold">Тохиргооны бүртгэл</h2>

<p-table [value]="items" editMode="row">
  <ng-template pTemplate="header">
    <tr>
      <th>Салбар сургууль</th>
      <th>Тэнхим</th>
      <th>Тохиргооны нэр</th>
      <th>Тохиргооны код</th>
      <th>Тохиргооны утга</th>
      <th>Үйлдэл</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-item let-ri="rowIndex">
    <tr [pEditableRow]="item">
      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayBranch">
          <p-dropdown
            [(ngModel)]="item.branchId"
            [options]="branches"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a branch"
            (onChange)="onBranchChangeTable($event.value)"
            appendTo="body"
          ></p-dropdown>
        </ng-container>
        <ng-template #displayBranch>
          {{ getBranchName(item.branchId) }}
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayDepartment">
          <p-dropdown
            [(ngModel)]="item.department"
            [options]="departments"
            optionLabel="name"
            optionValue="id"
            placeholder="Select a department"
            appendTo="body"
          ></p-dropdown>
        </ng-container>
        <ng-template #displayDepartment>
          {{ getDepartmentName(item.department) }}
        </ng-template>
      </td>

      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayName">
          <input pInputText [(ngModel)]="item.name" />
        </ng-container>
        <ng-template #displayName>{{ item.name }}</ng-template>
      </td>

      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayItemCode">
          <input pInputText [(ngModel)]="item.itemCode" />
        </ng-container>
        <ng-template #displayItemCode>{{ item.itemCode }}</ng-template>
      </td>

      <td>
        <ng-container *ngIf="editingRowId === item._id; else displayItemValue">
          <input pInputText [(ngModel)]="item.itemValue" />
        </ng-container>
        <ng-template #displayItemValue>{{ item.itemValue }}</ng-template>
      </td>

      <td>
        <div class="flex items-center justify-center gap-2">
          <button
            *ngIf="editingRowId !== item._id"
            pButton
            pRipple
            type="button"
            icon="pi pi-pencil"
            text
            rounded
            severity="secondary"
            (click)="onRowEditInit(item, ri)"
          ></button>

          <button
            *ngIf="editingRowId === item._id"
            pButton
            pRipple
            type="button"
            icon="pi pi-check"
            text
            rounded
            severity="success"
            (click)="onRowEditSave(item)"
          ></button>

          <button
            *ngIf="editingRowId === item._id"
            pButton
            pRipple
            type="button"
            icon="pi pi-times"
            text
            rounded
            severity="danger"
            (click)="onRowEditCancel(item, ri)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
