<div class="cloTable">
  <p-toast />
  <form [formGroup]="cloForm" (ngSubmit)="onSubmit()">
    <div
      style="
        display: flex;
        justify-content: flex-start;
        gap: 10px;
        margin-bottom: 10px;
      "
    >
      <p-button
        severity="info"
        icon="pi pi-save"
        type="submit"
        label="Хадгалах"
      />
      <p-button
        severity="success"
        icon="pi pi-file-excel"
        label="Excel үүсгэх"
      />
      <p-button severity="success" icon="pi pi-file-pdf" label="PDF үүсгэх" />
    </div>
    <div id="pdf-content">
      <p-progressSpinner
        *ngIf="isLoading"
        aria-label="Loading"
      ></p-progressSpinner>

      <p-table
        *ngIf="!isLoading"
        [value]="cloPoint"
        [rows]="10"
        rowGroupMode="subheader"
        groupRowsBy="cloType"
        groupRowsByOrder=""
        class="custom-table"
      >
        <ng-template pTemplate="header">
          <tr>
            <th rowspan="3">#</th>
            <th pFrozenColumn rowspan="4">CLOs</th>
            <ng-container *ngFor="let col of assessPlan.plans">
              <ng-container *ngIf="col.methodType !== 'EXAM'">
                <th [attr.colspan]="col.subMethods.length">
                  {{ col.methodName }}
                </th>
              </ng-container>
            </ng-container>
            <th style="background-color: rgb(72, 182, 255)" rowspan="3">
              Явцын үнэлгээний харгалзах нийлбэр оноо
            </th>
            <ng-container *ngFor="let col of assessPlan.plans">
              <ng-container *ngIf="col.methodType === 'EXAM'">
                <th [attr.colspan]="col.subMethods.length">
                  {{ col.methodName }}
                </th>
              </ng-container>
            </ng-container>
            <th rowspan="3" style="background-color: rgb(72, 182, 255)">
              Шалгалтын үнэлгээний харгалзах нийлбэр оноо
            </th>
            <th rowspan="3">Нийлбэр оноо</th>
          </tr>
          <tr>
            <ng-container *ngFor="let col of assessPlan.plans">
              <ng-container *ngIf="col.methodType !== 'EXAM'">
                <th *ngFor="let item of col.subMethods">
                  {{ item.subMethod }}
                </th>
              </ng-container>
            </ng-container>
            <ng-container *ngFor="let col of assessPlan.plans">
              <ng-container *ngIf="col.methodType === 'EXAM'">
                <th *ngFor="let item of col.subMethods">
                  {{ item.subMethod }}
                </th>
              </ng-container>
            </ng-container>
          </tr>
          <tr>
            <ng-container *ngFor="let col of assessPlan.plans">
              <ng-container *ngIf="col.methodType !== 'EXAM'">
                <th *ngFor="let item of col.subMethods">{{ item.point }}</th>
              </ng-container>
            </ng-container>
            <ng-container *ngFor="let col of assessPlan.plans">
              <ng-container *ngIf="col.methodType === 'EXAM'">
                <th *ngFor="let item of col.subMethods">{{ item.point }}</th>
              </ng-container>
            </ng-container>
          </tr>
        </ng-template>

        <ng-template pTemplate="groupheader" let-row>
          <tr class="clo-subheader">
            <td colspan="22">
              <strong>
                {{
                  row.cloType === "ALEC"
                    ? "Лекцийн хичээлээр эзэмшсэн суралцахуйн үр дүнгүүд"
                    : row.cloType === "BSEM"
                    ? "Семинарын хичээлээр эзэмшсэн суралцахуйн үр дүнгүүд"
                    : row.cloType === "CLAB"
                    ? "Лабораторийн хичээлээр эзэмшсэн суралцахуйн үр дүнгүүд"
                    : row.cloType
                }}
              </strong>
            </td>
          </tr>
        </ng-template>

        <!-- Display sorted rows in table body -->
        <ng-template pTemplate="body" let-row>
          <tr>
            <td>{{ row.cloName }}</td>
            <td>{{ row.cloType }}</td>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-ri="rowIndex">
          <tr [formGroup]="getRowFormGroup(ri)">
            <td>{{ ri + 1 }}</td>
            <td>{{ getCloName(row.cloId) }}</td>

            <ng-container
              formArrayName="procPoints"
              *ngFor="
                let pointCtrl of getPointsControls(row.cloId);
                let pi = index
              "
            >
              <td [formGroupName]="pi" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      formControlName="point"
                      inputId="point"
                      [showButtons]="true"
                      [step]="1"
                    ></p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ getPointsControl(ri)[pi].get("point")?.value }}
                  </ng-template>
                </p-cellEditor>
              </td>
            </ng-container>

            <td style="background-color: rgb(72, 182, 255)">
              {{ getTotalProgressScore(ri) }}
            </td>

            <ng-container
              formArrayName="examPoints"
              *ngFor="
                let pointCtrl of getPointsControlsExam(ri);
                let pi = index
              "
            >
              <td [formGroupName]="pi" pEditableColumn>
                <p-cellEditor>
                  <ng-template pTemplate="input">
                    <p-inputNumber
                      formControlName="point"
                      inputId="point"
                      [showButtons]="true"
                      [step]="1"
                    ></p-inputNumber>
                  </ng-template>
                  <ng-template pTemplate="output">
                    {{ getPointsControlsExam(ri)[pi].get("point")?.value }}
                  </ng-template>
                </p-cellEditor>
              </td>
            </ng-container>

            <td style="background-color: rgb(72, 182, 255)">
              {{ getTotalExamScore(ri) }}
            </td>
            <td>{{ getTotalScore(ri) }}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </form>
</div>
