<p-toast />
<form [formGroup]="materialsForm" (ngSubmit)="onSubmit()">
  <p-button label="Хадгалах" iconPos="right" type="submit" />
  <div class="first">
    <div class="sub" formArrayName="mainBooks">
      <label>Үндсэн сурах бичиг:</label>
      <div *ngFor="let book of mainBooks.controls; let i = index" class="line">
        <p-floatlabel variant="on" class="w-full">
          <input
            pInputText
            [formControlName]="i"
            [id]="'mainBook' + i"
            autocomplete="off"
            class="w-full p-3 border border-gray-300 rounded-lg focus:border-blue-500"
          />
          <label [for]="'mainBook' + i">Сурах бичиг {{ i + 1 }}</label>
        </p-floatlabel>
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          [text]="true"
          severity="danger"
          (click)="removeMainBook(i)"
        />
      </div>
      <p-button
        label="Нэмэх"
        icon="pi pi-plus"
        iconPos="right"
        severity="info"
        (click)="addMainBook()"
      />
    </div>
    <div class="sub" formArrayName="extraMaterials">
      <label>Нэмэлт ном, материалууд:</label>
      <div
        *ngFor="let material of extraMaterials.controls; let i = index"
        class="line"
      >
        <p-floatlabel variant="on" class="w-full">
          <input
            pInputText
            [formControlName]="i"
            [id]="'extraMaterial' + i"
            autocomplete="off"
            class="w-full p-3 border border-gray-300 rounded-lg focus:border-blue-500"
          />
          <label [for]="'extraMaterial' + i">Нэмэлт материал {{ i + 1 }}</label>
        </p-floatlabel>
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          [text]="true"
          severity="danger"
          (click)="removeExtraMaterial(i)"
        />
      </div>
      <p-button
        label="Нэмэх"
        icon="pi pi-plus"
        iconPos="right"
        severity="info"
        (click)="addExtraMaterial()"
      />
    </div>
  </div>
  <div class="first">
    <div class="sub" formArrayName="webLinks">
      <label>Цахим сургалтын веб холбоос:</label>
      <div
        *ngFor="let webLink of webLinks.controls; let i = index"
        class="line"
      >
        <p-floatlabel variant="on" class="w-full">
          <input
            pInputText
            [formControlName]="i"
            [id]="'webLink' + i"
            autocomplete="off"
            class="w-full p-3 border border-gray-300 rounded-lg focus:border-blue-500"
          />
          <label [for]="'webLink' + i"
            >Цахим сургалтын веб холбоос {{ i + 1 }}</label
          >
        </p-floatlabel>
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          [text]="true"
          severity="danger"
          (click)="removeWebLinks(i)"
        />
      </div>
      <p-button
        label="Нэмэх"
        icon="pi pi-plus"
        iconPos="right"
        severity="info"
        (click)="addWebLinks()"
      />
    </div>
    <div class="sub" formArrayName="libraryLinks">
      <label>Цахим номын сангийн холбоос:</label>
      <div
        *ngFor="let libraryLink of libraryLinks.controls; let i = index"
        class="line"
      >
        <p-floatlabel variant="on" class="w-full">
          <input
            pInputText
            [formControlName]="i"
            [id]="'libraryLink' + i"
            autocomplete="off"
            class="w-full p-3 border border-gray-300 rounded-lg focus:border-blue-500"
          />
          <label [for]="'libraryLink' + i"
            >Цахим номын сангийн холбоос {{ i + 1 }}</label
          >
        </p-floatlabel>
        <p-button
          icon="pi pi-trash"
          [rounded]="true"
          [text]="true"
          severity="danger"
          (click)="removeLibraryLinks(i)"
        />
      </div>
      <p-button
        label="Нэмэх"
        icon="pi pi-plus"
        iconPos="right"
        severity="info"
        (click)="addLibraryLinks()"
      />
    </div>
  </div>

  <div class="sub" formArrayName="softwareTools">
    <label>Хичээлд ашиглах програм хангамж, хэрэгслүүд:</label>
    <div
      *ngFor="let software of softwareTools.controls; let i = index"
      class="line"
    >
      <p-floatlabel variant="on" class="w-full">
        <input
          pInputText
          [formControlName]="i"
          [id]="'softwareTool' + i"
          autocomplete="off"
          class="w-full p-3 border border-gray-300 rounded-lg focus:border-blue-500"
        />
        <label [for]="'softwareTool' + i">Програм хангамж {{ i + 1 }}</label>
      </p-floatlabel>
      <p-button
        icon="pi pi-trash"
        [rounded]="true"
        [text]="true"
        severity="danger"
        (click)="removeSoftwareTool(i)"
      />
    </div>
    <p-button
      label="Нэмэх"
      icon="pi pi-plus"
      iconPos="right"
      severity="info"
      (click)="addSoftwareTool()"
    />
  </div>
</form>
