<div class="p-fluid">
  <p-toast />
  <h2>{{ title }}</h2>
  <div class="filter-section">
    <p-dropdown
      *ngIf="gradeType !== 'BD'"
      [options]="weekdays"
      [(ngModel)]="selectedWeekday"
      (onChange)="onSelectionChange()"
      placeholder="Гариг"
    >
    </p-dropdown>
    <p-dropdown
      *ngIf="gradeType !== 'BD'"
      [options]="times"
      [(ngModel)]="selectedTimes"
      (onChange)="onSelectionChange()"
      placeholder="Цаг"
    >
    </p-dropdown>
    <input
      type="text"
      pInputText
      [(ngModel)]="searchQuery"
      (input)="onSelectionChange()"
      placeholder="Нэр эсвэл ID хайх..."
      class="search-input"
    />
    <p-button
      label="Шүүлт цэвэрлэх"
      icon="pi pi-refresh"
      (click)="clearFilter()"
      class="refresh-btn"
    ></p-button>
    <button
      pButton
      type="button"
      label="Дүн засах"
      (click)="toggleShowEdit()"
    ></button>
    <button pButton type="button" label="Хадгалах" (click)="save()"></button>
  </div>

  <p-table [value]="gradeRecords" *ngIf="data">
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="3">№</th>
        <th rowspan="3">Оюутан</th>
        <th [attr.colspan]="data.length" *ngFor="let col of formData">
          {{ col.week }}
        </th>
      </tr>
      <tr>
        <ng-container *ngFor="let col of formData">
          <th *ngFor="let col of data">{{ col.subMethod }}</th>
        </ng-container>
      </tr>
      <tr>
        <ng-container *ngFor="let col of formData">
          <ng-container *ngIf="col.point && col.point.length">
            <th *ngFor="let po of col.point">{{ po.point }}</th>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-record let-ri="rowIndex">
      <tr>
        <td>{{ ri + 1 }}</td>
        <td>{{ record.student.code }} - {{ record.student.name }}</td>

        <ng-container *ngFor="let col of formData">
          <ng-container *ngFor="let po of col.point">
            <td>
              <div *ngIf="showEdit">
                <p-inputNumber
                  class="max-w-3rem"
                  inputStyleClass="max-w-3rem"
                  [(ngModel)]="record.grades[col.week + '_' + po.id]"
                  [min]="0"
                  [max]="po.point"
                ></p-inputNumber>
              </div>
              <div *ngIf="!showEdit">
                {{ record.grades[col.week + "_" + po.id] ?? "-" }}
              </div>
            </td>
          </ng-container>
        </ng-container>
      </tr>
    </ng-template>
  </p-table>
</div>
