<p-toast></p-toast>

<div class="text-4xl font-bold ml-5 mt-5">Сурагчдын дүнгийн файл оруулах</div>

<div class="flex justify-content-between align-items-center px-6 mt-5 ">
  <div class="action-btn">
    <p-button label="Хадгалах" (onClick)="save()"></p-button>
  </div>
  <div class="action-btn">
    <div class="label-txt">
      <span>Шалгалтын төрөл</span>
      <div style="margin-top: 10px;">
        <p-dropdown [options]="examTypes" [(ngModel)]="examType" optionLabel="label" placeholder="Шалгалтын төрөл"
          (onChange)="examTypesData($event.value)" />
      </div>
    </div>
  </div>
  <div class="action-btn">
    <div class="label-txt">
      <span>Өмнө бүртгэсэн сурагчдын дүнг шинжилж оруулах</span>
      <div style="margin-top: 10px;">
        <p-checkbox [(ngModel)]="checked" [binary]="true" />
      </div>
    </div>
  </div>
  <div class="action-btn">
    <p-button label="Цэвэрлэх" (onClick)="resetInputs()"></p-button>
  </div>
</div>

<div class="flex justify-content-between px-6 mt-5">
  <div *ngIf="clos.length > 0">
    <div *ngFor="let clo of clos; let i = index" class="flex align-items-center justify-content-end gap-2 mb-2">
      <span class="font-medium">{{ clo.cloName }}</span>
      <div class="flex">
        <p-floatlabel variant="on">
          <p-inputNumber #minV inputStyleClass="w-6rem" [max]="questionAmount"
          [ngModel]="cloRanges[clo.id]?.min"
            (onInput)="checkValue(clo.id, minV.value, 'min')" id="start"></p-inputNumber>
          <label for="start">Эхлэх</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <p-inputNumber #maxV inputStyleClass="w-6rem" [max]="questionAmount"
          [ngModel]="cloRanges[clo.id]?.max"
            (onInput)="checkValue(clo.id, maxV.value, 'max')" id="end"></p-inputNumber>
          <label for="end">Дуусах</label>
        </p-floatlabel>
      </div>
    </div>
  </div>
</div>

<div class="flex justify-content-between px-6 mt-5 align-items-center">
  <div class="action-btn">
    <p-fileupload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="file" accept=".xls,.xlsx"
      (onSelect)="onFileChange($event)" />
    <!-- <input type="file" (change)="onFileChange($event)" accept=".xls,.xlsx" /> -->
  </div>
  <!-- Future buttons can go here -->
</div>

<div class="flex px-6 mt-3 font-bold">
  <div>Нийт сурагчдын тоо:</div>
  <div class="ml-2">{{ studentCount }}</div>
</div>

<div class="mt-3 overflow-auto px-6">
  <p-table *ngIf="tableData.length > 1" [value]="tableData.slice(1)" dataKey="id"
    [tableStyle]="{ 'min-width': '50rem' }">

    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th *ngFor="let header of tableData[0]">
          {{ header }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-row let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td *ngFor="let cell of row; let j = index">

          <!-- Зөвхөн эхний мөр (index === 0 буюу tableData[1]) edit болох -->
          <ng-container *ngIf="i === 0; else readOnlyCell">
        <td [pEditableColumn]="row[j]" [pEditableColumnField]="'col' + j">
          <p-cellEditor>
            <ng-template pTemplate="input">
              <!-- <p-select id="_id" [options]="subMethods" appendTo="body" [(ngModel)]="tableData[i + 1][j]"
                optionLabel="label" [style]="{'width':'100%'}" (onChange)="subMethodTypesData($event.value.id)" /> -->
              <p-dropdown [(ngModel)]="tableData[i + 1][j]" [options]="subMethods" optionLabel="subMethod" optionValue="_id"
                placeholder="Дэд арга" (onChange)="subMethodTypesData($event.value)"
                class="dropdown-filter"></p-dropdown>
            </ng-template>
            <ng-template pTemplate="output">
              {{ tableData[i + 1][j]  === 'string' ? tableData[i + 1][j] : tableData[i + 1][j]?.label }}
            </ng-template>
          </p-cellEditor>
        </td>
        </ng-container>

        <!-- Readonly хувилбар -->
        <ng-template #readOnlyCell>
          <td>
            {{ tableData[i + 1][j] }}
          </td>
        </ng-template>

        </td>
      </tr>
    </ng-template>
  </p-table>

</div>
