<div class="p-fluid">
    <div class="p-grid">
        <div class="p-col-6">
            <p-dropdown [options]="weekdays" [(ngModel)]="selectedWeekday" (onChange)="onSelectionChange()"
                placeholder="Select Weekday">
            </p-dropdown>
        </div>
        <div class="p-col-6">
            <p-dropdown [options]="classTypes" [(ngModel)]="selectedClassType" (onChange)="onSelectionChange()"
                placeholder="Select Class Type">
            </p-dropdown>
        </div>
    </div>

    <button pButton type="button" label="Edit Previous Week Attendance" (click)="togglePreviousWeeks()"></button>

    <p-table [value]="attendanceRecords">
        <ng-template pTemplate="header">
            <tr>
                <th>Student Name</th>
                <th>{{ getPastThreeDates()[2] }}</th> <!-- Oldest Date -->
                <th *ngIf="showPreviousWeeks">{{ getPastThreeDates()[1] }}</th>
                <th *ngIf="showPreviousWeeks">{{ getPastThreeDates()[0] }}</th> <!-- Most Recent Date -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record>
            <tr>
                <td>{{ record.student.name }}</td>
                <td>
                    <p-dropdown [options]="attendanceOptions" [(ngModel)]="record.attendance[getPastThreeDates()[2]]">
                    </p-dropdown>
                </td>
                <td *ngIf="showPreviousWeeks">
                    <p-dropdown [options]="attendanceOptions" [(ngModel)]="record.attendance[getPastThreeDates()[1]]">
                    </p-dropdown>
                </td>
                <td *ngIf="showPreviousWeeks">
                    <p-dropdown [options]="attendanceOptions" [(ngModel)]="record.attendance[getPastThreeDates()[0]]">
                    </p-dropdown>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
