<div class="p-fluid">
    <div class="filter-section">
            <p-dropdown [options]="weekdays" [(ngModel)]="selectedWeekday" (onChange)="onSelectionChange()"
                placeholder="Гариг">
            </p-dropdown>
            <p-dropdown [options]="classTypes" [(ngModel)]="selectedClassType" (onChange)="onSelectionChange()"
                placeholder="Төрөл">
            </p-dropdown>
        <button pButton type="button" label="Өмнөх долоо хоногийн ирцийг засах" (click)="togglePreviousWeeks()"></button>
    </div>


    <p-table [value]="attendanceRecords">
        <ng-template pTemplate="header">
            <tr>
                <th>Оюутан</th>
                <th>{{ getPastThreeDates()[2] }}</th>
                <th *ngIf="showPreviousWeeks">{{ getPastThreeDates()[1] }}</th>
                <th *ngIf="showPreviousWeeks">{{ getPastThreeDates()[0] }}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-record>
            <tr>
                <td>{{ record.student.code }} - {{ record.student.name }}</td>
                <td>
                    <p-dropdown [options]="attendanceOptions" [(ngModel)]="record.attendance[getPastThreeDates()[2]]" appendTo="body" >
                    </p-dropdown>
                </td>
                <td *ngIf="showPreviousWeeks">
                    <p-dropdown [options]="attendanceOptions" [(ngModel)]="record.attendance[getPastThreeDates()[1]]">
                    </p-dropdown>
                </td>
                <td *ngIf="showPreviousWeeks">
                    <p-dropdown [options]="attendanceOptions" [(ngModel)]="record.attendance[getPastThreeDates()[0]]">
                    </p-dropdown>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
