.lesson-body {
    display: flex;
    width: 95vw;
    // grid-template-columns: 20% 80%;
    /* Sidebar 20%, Content 80% */
    height: 100vh;
    /* Full height */
}

.card {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    /* No padding */
    background: none;
    /* No background color */
    border: none;
    /* No border */
    box-shadow: none;
    /* No shadow */
    height: 100%;
    width: 20%;
}

.routerOutlet{
    width: 80%;
    height: 100%;
}
p-panelmenu {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border: none;
    box-shadow: none;

    ::ng-deep .p-panelmenu .p-panelmenu-header {
        background-color: transparent;
        color: #333;
    }

    ::ng-deep .p-panelmenu .p-panelmenu-content {
        padding: 1rem;
        background-color: #ffffff;
    }

    ::ng-deep .p-panelmenu .p-menuitem {
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: #333;
        /* Dark color for menu items */
        transition: background-color 0.3s ease;
        border: none;

        &:hover {
            background-color: #f0f0f0;
            /* Subtle hover effect */
        }
    }

    ::ng-deep .p-panelmenu .p-menuitem-link {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    ::ng-deep .p-panelmenu .p-menuitem-icon {
        color: #333;
        /* Icon color */
    }


}