<div class="card">
  <p class="title">Танин мэдэхүйн түвшнүүд (Revised Bloom's Taxonomy – шинэчлэгдсэн хувилбар)</p>
</div>
<div class="card">
  <p-panel [toggleable]="true">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">1 - Мэдэх (Remembering)</span>
      </div>
    </ng-template>
    <ng-template #icons>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <p class="m-0">
      Мэдээллийг санах, дурсах чадвар.<br>
      Үйл үгс: нэрлэх, дурсан санах, жагсаах, давтах, тодорхойлох.<br>
      Жишээ: "Монгол Улсын нийслэлийг нэрлэ."
    </p>
  </p-panel>
</div>
<div class="card">
  <p-panel [toggleable]="true">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">2 - Ойлгох (Understanding)</span>
      </div>
    </ng-template>
    <ng-template #icons>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <p class="m-0">
      Мэдээллийг тайлбарлах, өөрийн үгээр илэрхийлэх чадвар.<br>
      Үйл үгс: тайлбарлах, хураангуйлах, харьцуулах, жишээ татах.<br>
      Жишээ: "Уур амьсгал ба цаг уурын ялгааг тайлбарла."
    </p>
  </p-panel>
</div>
<div class="card">
  <p-panel [toggleable]="true">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">3 - Хэрэглэх (Applying)</span>
      </div>
    </ng-template>
    <ng-template #icons>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <p class="m-0">
      Мэдлэгийг шинэ нөхцөл байдалд ашиглах чадвар.<br>
      Үйл үгс: хэрэглэх, ашиглах, шийдвэр гаргах, тооцоолох.<br>
      Жишээ: "Геометрийн томьёог ашиглан гурвалжны талбайг ол."
    </p>
  </p-panel>
</div>
<div class="card">
  <p-panel [toggleable]="true">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">4 - Шинжлэх (Analyzing)</span>
      </div>
    </ng-template>
    <ng-template #icons>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <p class="m-0">
      Мэдээллийг задлан шинжлэх, бүтэц, логик холбоог илрүүлэх чадвар.<br>
      Үйл үгс: задлах, ангилах, харьцуулах, дүгнэлт хийх.<br>
      Жишээ: "Түүхэн үйл явдлын шалтгаан, үр дагаврыг задлан шинжил."
    </p>
  </p-panel>
</div>
<div class="card">
  <p-panel [toggleable]="true">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">5 - Бүтээх (Evaluating)</span>
      </div>
    </ng-template>
    <ng-template #icons>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <p class="m-0">
      Өгөгдсөн мэдээлэл, санаа, үйлдлийг үнэлэх, дүгнэх чадвар.<br>
      Үйл үгс: үнэлэх, шалгах, нотлох, шүүмжлэх.<br>
      Жишээ: "Зохиолчийн дэвшүүлсэн санааны ач холбогдлыг үнэл."
    </p>
  </p-panel>
</div>
<div class="card">
  <p-panel [toggleable]="true">
    <ng-template #header>
      <div class="flex items-center gap-2">
        <span class="font-bold">6 - Үндэслэн бүтээх (Creating)</span>
      </div>
    </ng-template>
    <ng-template #icons>
      <p-menu #menu id="config_menu" [model]="items" [popup]="true" />
    </ng-template>
    <p class="m-0">
      Мэдлэг, ойлголт дээр үндэслэн шинэ санаа, бүтээл туурвих чадвар.<br>
      Үйл үгс: бүтээх, зохион байгуулах, боловсруулах, найруулах.<br>
      Жишээ: "Өөрийн туршлагад тулгуурлан өгүүллэг зохиож бич."
    </p>
  </p-panel>
</div>
