<div class="card">
    <p-tabs value="0" scrollable>
        <p-tablist>
            <p-tab value="0">ҮНДСЭН МЭДЭЭЛЭЛ</p-tab>
            <p-tab value="1">АШИГЛАХ МАТЕРИАЛУУД</p-tab>
            <p-tab value="2">АГУУЛГА, ЦАГИЙН ХУВААРИЛАЛТ</p-tab>
            <p-tab value="3">СУРАЛЦАХУЙН ҮР ДҮНГҮҮД</p-tab>
            <p-tab value="4">ҮНЭЛГЭЭ</p-tab>
            <p-tab value="5">ТАВИГДАХ НЭМЭЛТ ШААРДЛАГУУД</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <app-main-info [lessonId]="lessonId"></app-main-info>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-materials [lessonId]="lessonId"></app-materials>
            </p-tabpanel>
            <p-tabpanel value="2">
                <app-schedule [lessonId]="lessonId"></app-schedule>
            </p-tabpanel>
            <p-tabpanel value="3">
                <app-clo [lessonId]="lessonId"></app-clo>
            </p-tabpanel>
            <p-tabpanel value="4">
                <app-assessment [lessonId]="lessonId"></app-assessment>
            </p-tabpanel>
            <p-tabpanel value="5">
                <app-additional [lessonId]="lessonId"></app-additional>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>