.p-error {
    color: red;
}

.card {
    margin: 0 auto;
    padding: 20px;
}
.action-btn{
  margin-right: 40px;
}

.column-style{
  display: flex;
}

.p-formgrid .p-field {
    margin-bottom: 1.5rem;
}

.column-input{
  margin: 30px 0px;
  display: flex;
}

.exam-type{
  width: 700px;
}

.info{
  margin-left: 30px;
}
