<p-panel header="Үндсэн сурах бичиг" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <div *ngFor="let book of mainBooks.controls; let i = index" class="line">
      <div class="w-full">
        <label>{{ "Сурах бичиг " + (i + 1) }}: {{ book.value }}</label>
      </div>
    </div>
  </div>
</p-panel>

<p-divider></p-divider>

<p-panel header="Нэмэлт ном, материалууд" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <div
      *ngFor="let material of extraMaterials.controls; let i = index"
      class="line"
    >
      <div class="w-full">
        <label>{{ "Нэмэлт материал " + (i + 1) }}: {{ material.value }}</label>
      </div>
    </div>
  </div>
</p-panel>

<p-divider></p-divider>

<p-panel header="Цахим сургалтын веб холбоос" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <div *ngFor="let webLink of webLinks.controls; let i = index" class="line">
      <div class="w-full">
        <label
          >{{ "Цахим сургалтын веб холбоос " + (i + 1) }}:
          {{ webLink.value }}</label
        >
      </div>
    </div>
  </div>
</p-panel>

<p-divider></p-divider>

<p-panel header="Цахим номын сангийн холбоос" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <div
      *ngFor="let libraryLink of libraryLinks.controls; let i = index"
      class="line"
    >
      <div class="w-full">
        <label
          >{{ "Цахим номын сангийн холбоос " + (i + 1) }}:
          {{ libraryLink.value }}</label
        >
      </div>
    </div>
  </div>
</p-panel>

<p-divider></p-divider>

<p-panel header="Хичээлд ашиглах програм хангамж, хэрэгслүүд" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <div
      *ngFor="let software of softwareTools.controls; let i = index"
      class="line"
    >
      <div class="w-full">
        <label>{{ "Програм хангамж " + (i + 1) }}: {{ software.value }}</label>
      </div>
    </div>
  </div>
</p-panel>
