<p-panel header="Үндсэн сурах бичиг" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <div *ngFor="let book of mainBooks.controls; let i = index" class="line">
      <div class="w-full">
        <label>{{ "Сурах бичиг " + (i + 1) }}</label>
        <input class="w-full p-3" [value]="book.value" readonly />
      </div>
    </div>
  </div>
</p-panel>

<p-divider></p-divider>

<p-panel header="Нэмэлт ном, материалууд" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <div
      *ngFor="let material of extraMaterials.controls; let i = index"
      class="line"
    >
      <div class="w-full">
        <input class="w-full p-3" [value]="material.value" readonly />
        <label>{{ "Нэмэлт материал " + (i + 1) }}</label>
      </div>
    </div>
  </div>
</p-panel>

<p-divider></p-divider>

<p-panel header="Нэмэлт ном, материалууд" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <label>Цахим сургалтын веб холбоос:</label>
    <div *ngFor="let webLink of webLinks.controls; let i = index" class="line">
      <div class="w-full">
        <input class="w-full p-3" [value]="webLink.value" readonly />
        <label>{{ "Цахим сургалтын веб холбоос " + (i + 1) }}</label>
      </div>
    </div>
  </div>
</p-panel>

<p-divider></p-divider>

<p-panel header="Нэмэлт ном, материалууд" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <label>Цахим номын сангийн холбоос:</label>
    <div
      *ngFor="let libraryLink of libraryLinks.controls; let i = index"
      class="line"
    >
      <div class="w-full">
        <input class="w-full p-3" [value]="libraryLink.value" readonly />
        <label>{{ "Цахим номын сангийн холбоос " + (i + 1) }}</label>
      </div>
    </div>
  </div>
</p-panel>

<p-divider></p-divider>

<p-panel header="Нэмэлт ном, материалууд" toggleable>
  <div class="p-grid p-formgrid gap-container">
    <label>Хичээлд ашиглах програм хангамж, хэрэгслүүд:</label>
    <div
      *ngFor="let software of softwareTools.controls; let i = index"
      class="line"
    >
      <div class="w-full">
        <input class="w-full p-3" [value]="software.value" readonly />
        <label>{{ "Програм хангамж " + (i + 1) }}</label>
      </div>
    </div>
  </div>
</p-panel>
