.form-container {
    // max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h3 {
    font-size: 1.2rem;
    margin-top: 20px;
    color: #333;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
  }
  
  .input-group {
    margin-bottom: 16px;
  }
  
  p-inputNumber {
    width: 100%;
  }
  
  .submit-btn {
    width: 100%;
    margin-top: 20px;
  }
  