<div class="card">
    <h2>CLO Assessment Form</h2>

    <form [formGroup]="cloForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid grid">
            <div class="col-6" *ngFor="let field of cloForm.controls | keyvalue">
                <label [for]="field.key" class="block">{{ field.key }}</label>
                <p-inputNumber [id]="field.key" [formControlName]="field.key" [min]="0" mode="decimal"
                    class="w-full"></p-inputNumber>
            </div>
        </div>

        <div class="mt-3">
            <button pButton type="submit" label="Submit" class="p-button-primary"></button>
        </div>
    </form>
</div>