<div class="lesson-body">
  <div class="action-btn">
    <p-button label="Хадгалах" (onClick)="save()"></p-button>
  </div>
  <div *ngFor="let question of questions; let qIndex = index" class="question">
    <div class="header-sub-title">
      <p-iftalabel>
        <textarea pSize="large" rows="2" cols="40" pTextarea [(ngModel)]="question.questionSubName"></textarea>
        <label for="username">Дэд нэр</label>
      </p-iftalabel>
    </div>
    <div *ngFor="let answer of question.answers; let i = index">
      <div class="header-title">
        <div class="title">
          <p-iftalabel>
            <textarea rows="3" cols="65" pTextarea [(ngModel)]="answer.answerName"></textarea>
            <label for="username">Асуулт</label>
          </p-iftalabel>
        </div>
      </div>
      <div class="main-questoin">
        <div class="answer-box">
          <div class="answer-value">
            <span>Муу</span>
            <p-rating [(ngModel)]="answer.answerValue" stars="5">
              <ng-template #cancelicon>
                <img src="https://primefaces.org/cdn/primeng/images/demo/rating/cancel.png" height="24" width="24" />
              </ng-template>
              <ng-template #onicon>
                <img src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon-active.png" height="24"
                  width="24" />
              </ng-template>
              <ng-template #officon>
                <img src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon.png" height="24"
                  width="24" />
              </ng-template>
            </p-rating>
            <span>Сайн</span>
          </div>
        </div>
        <button class="answer-button" (click)="onRemove(i, qIndex)" type="button">
          <i class="pi pi-times" style="color: green"></i>
        </button>
      </div>
    </div>
    <!-- Асуулт нэмэх товч -->
    <div class="add-answer">
      <p-button label="Дэд Асуулт нэмэх" (onClick)="addAnswer(qIndex)"></p-button>
    </div>
  </div>
  <!-- Асуулт нэмэх товч -->
  <div class="action-btn">
    <p-button label="Асуулт нэмэх" (onClick)="addQuestion()"></p-button>
  </div>
</div>
