<div class="lesson-body">
  <div *ngFor="let question of questions; let qIndex = index" class="question">
    <div class="header-title">
      <div class="title">
        <p-iftalabel>
          <textarea rows="2" cols="30" pTextarea [(ngModel)]="question.value"></textarea>
          <label for="username">Username</label>
        </p-iftalabel>
      </div>
      <div class="">
        <p-dropdown
          [options]="cities"
          [(ngModel)]="question.selectedCity"
          optionLabel="name"
          placeholder="Select a City"
          class="custom-dropdown"
        ></p-dropdown>
      </div>
    </div>

    <div *ngFor="let answer of question.answers; let i = index" class="main-questoin">
      <div class="answer-box">
        <div class="answer-check-box">
          <p-checkbox
            [(ngModel)]="answer.checked"
            [binary]="true"
            [inputId]="'binary' + qIndex + '-' + i"
          ></p-checkbox>
        </div>
        <div class="">
          <p-iftalabel>
            <textarea
              rows="1"
              cols="30"
              pTextarea
              [(ngModel)]="answer.text"
              (input)="onTextInput(i, qIndex)"
            ></textarea>
            <label for="username">Username</label>
          </p-iftalabel>
        </div>
      </div>
      <button class="answer-button" (click)="onRemove(i, qIndex)" type="button">
        <i class="pi pi-times" style="color: green"></i>
      </button>
    </div>

    <!-- Хэрвээ хариулт нэмэх товч хэрэгтэй бол -->
    <button class="answer-add-button" (click)="addAnswer(qIndex)" type="button">
      <i class="pi pi-plus" style="color: blue"></i> Хариулт нэмэх
    </button>
  </div>

  <!-- Асуулт нэмэх товч -->
  <button class="queston-add-button" (click)="addQuestion()" type="button">
    <i class="pi pi-plus" style="color: green"></i> Асуулт нэмэх
  </button>
</div>
