<div class="card">
  <p-accordion value="0">
    <p-accordion-panel value="1" *ngIf="hasLec">
      <p-accordion-header>Лекцийн агуулга</p-accordion-header>
      <p-accordion-content>
        <p-table
          *ngIf="!isLoading"
          [value]="lessonControls.controls"
          class="custom-table"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>7 хоног</th>
              <th>Лекцийн сэдэв</th>
              <th>Лекцийн цаг</th>
              <th>CLOs хамаарал</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lesson>
            <tr [formGroup]="lesson">
              <td>
                {{ lesson.get("week").value }}
              </td>
              <td>
                {{ lesson.get("title").value }}
              </td>
              <td>
                {{ lesson.get("time").value }}
              </td>
              <td>
                <p-tag
                  [value]="getCloName(lesson.get('cloRelevance')?.value)"
                ></p-tag>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="2" *ngIf="hasSem">
      <p-accordion-header>Семинарын агуулга</p-accordion-header>
      <p-accordion-content>
        <p-table
          *ngIf="!isLoading"
          [value]="lessonSemControls.controls"
          class="custom-table"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>7 хоног</th>
              <th>Семинарын сэдэв</th>
              <th>Семинарын цаг</th>
              <th>CLOs хамаарал</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-lesson>
            <tr [formGroup]="lesson">
              <td>
                {{ lesson.get("week").value }}
              </td>
              <td>
                {{ lesson.get("title").value }}
              </td>
              <td>
                {{ lesson.get("time").value }}
              </td>
              <td>
                <p-tag
                  [value]="getCloName(lesson.get('cloRelevance')?.value)"
                ></p-tag>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="3" *ngIf="hasLab">
      <p-accordion-header
        >Лаборатори/практикийн хичээлийн агуулга</p-accordion-header
      >
      <p-accordion-content>
        <p-table
          *ngIf="!isLoading"
          [value]="lessonLabControls.controls"
          class="custom-table"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>7 хоног</th>
              <th>Лаборатори/практикийн сэдэв</th>
              <th>Цаг</th>
              <th>CLOs хамаарал</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-lesson>
            <tr [formGroup]="lesson">
              <td>
                {{ lesson.get("week").value }}
              </td>
              <td>
                {{ lesson.get("title").value }}
              </td>
              <td>
                {{ lesson.get("time").value }}
              </td>
              <td>
                <p-tag
                  [value]="getCloName(lesson.get('cloRelevance')?.value)"
                ></p-tag>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="4" *ngIf="hasBd">
      <p-accordion-header>Бие даан судлах агуулга</p-accordion-header>
      <p-accordion-content>
        <p-table
          *ngIf="!isLoading"
          [value]="lessonBdControls.controls"
          class="custom-table"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>7 хоног</th>
              <th>Бие даалтын сэдэв</th>
              <th>Танхимд зөвлөгөө авах, үнэлүүлэх цаг</th>
              <th>Бие даан суралцах цаг</th>
              <th>CLOs хамаарал</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-lesson>
            <tr [formGroup]="lesson">
              <td>
                {{ lesson.get("week").value }}
              </td>
              <td>
                {{ lesson.get("title").value }}
              </td>
              <td>
                {{ lesson.get("adviceTime").value }}
              </td>
              <td>
                {{ lesson.get("time").value }}
              </td>
              <td>
                <p-tag
                  [value]="getCloName(lesson.get('cloRelevance')?.value)"
                ></p-tag>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
