.custom-table .p-rowgroup-header {
  background-color: #f4f4f4; // Light background color for grouping header
  font-weight: bold; // Bold text for the group header
}

.card {
  width: 100%;
}

.p-datatable-tbody > tr > td {
  text-align: center;
  vertical-align: middle;
  border-color: var(--p-datatable-body-cell-border-color);
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: var(--p-datatable-body-cell-padding);
}

.p-datatable-tbody > tr > td * {
  text-align: center !important;
  justify-content: center;
  display: flex;
  align-items: center;
}

.p-datatable-thead > tr > th {
  text-align: center;
  vertical-align: middle;
  padding: var(--p-datatable-header-cell-padding);
}

::ng-deep .p-datatable-thead > tr > th {
  text-align: center;
  vertical-align: middle;
}
