<p-toast />
<form [formGroup]="planForm" (ngSubmit)="onSubmit()" class="p-fluid">
  <div formArrayName="plans">
    @for (plan of planForm.controls.plans.controls; track planIndex; let
    planIndex = $index) {
    <div
      class="p-4 border-1 border-round surface-border shadow-1"
      [formGroupName]="planIndex"
    >
      <div class="p-inputgroup mb-3">
        <div style="display: flex">
          <p-floatlabel variant="on">
            <input pInputText type="text" formControlName="methodName" />
            <p-dropdown
              formControlName="methodType"
              [options]="methodTypes"
              optionLabel="name"
              optionValue="id"
              placeholder="Төрөл"
              class="form-dropdown"
            />
            <label for="methodName">Үнэлгээний арга</label>
          </p-floatlabel>
          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-danger"
            (click)="removeMethod(planIndex)"
          ></button>
        </div>
      </div>

      <div formArrayName="subMethods" class="answers mb-3">
        @for (answer of
        planForm.controls.plans.controls.at(planIndex)?.controls?.subMethods?.controls;
        track answerIndex; let answerIndex = $index) {
        <div [formGroupName]="answerIndex" class="answer p-inputgroup mb-2">
          <div style="display: flex">
            <p-floatlabel variant="on">
              <input pInputText type="text" formControlName="subMethod" />
              <label for="subMethod">Дэд арга</label>
            </p-floatlabel>
            <p-floatlabel variant="on">
              <p-inputNumber
                formControlName="point"
                id="point"
                autocomplete="off"
              ></p-inputNumber>
              <label for="point">Оноо</label>
            </p-floatlabel>
            <button
              pButton
              type="button"
              icon="pi pi-times"
              class="p-button-text p-button-danger"
              (click)="removeSubMethod(planIndex, answerIndex)"
            ></button>
          </div>
        </div>
        }

        <button
          pButton
          type="button"
          label="Дэд үнэлгээ нэмэх"
          icon="pi pi-plus"
          class="p-button-sm p-button-outlined"
          (click)="addSubMethod(planIndex)"
        ></button>
      </div>
    </div>
    }
  </div>

  <div class="add-question mb-3">
    <button
      pButton
      type="button"
      label="Үнэлгээ нэмэх"
      icon="pi pi-plus"
      class="p-button-info"
      (click)="addMethod()"
    ></button>
    <button
      pButton
      type="submit"
      label="Хадгалах"
      icon="pi pi-save"
      class="p-button-success"
    ></button>
  </div>
</form>
