<p-toast></p-toast>
<form [formGroup]="planForm" (ngSubmit)="onSubmit()" class="p-fluid">
  <div
    style="
      display: flex;
      gap: 20px;
      width: 100%;
      justify-content: center;
      margin-top: 20px;
    "
  >
    <button
      pButton
      type="button"
      label="Үнэлгээ нэмэх"
      icon="pi pi-plus"
      class="p-button-info"
      (click)="addMethod()"
    ></button>
    <button
      pButton
      type="submit"
      label="Хадгалах"
      icon="pi pi-save"
      class="p-button-success"
    ></button>
  </div>
  <div formArrayName="plans" class="plans">
    <div
      *ngFor="
        let plan of plans.controls;
        let planIndex = index;
        trackBy: trackByIndex
      "
      [formGroupName]="planIndex"
      class="p-4 border-1 border-round surface-border shadow-1"
    >
      <div class="p-inputgroup mb-3">
        <p-floatlabel variant="on" style="margin-bottom: 10px">
          <p-dropdown
            formControlName="methodType"
            [options]="methodTypes"
            optionLabel="label"
            optionValue="value"
            class="w-full"
            placeholder="Төрөл"
            (onChange)="changedMethodType($event, planIndex)"
          >
          </p-dropdown>
          <!-- <label for="methodType">Төрөл</label> -->
        </p-floatlabel>

        <p-floatlabel
          variant="on"
          style="margin-bottom: 10px"
          *ngIf="hideArray[planIndex]"
        >
          <p-dropdown
            formControlName="secondMethodType"
            [options]="secondMethodTypes"
            optionLabel="label"
            optionValue="value"
            placeholder="Дэд төрөл"
            class="w-full"
          ></p-dropdown>
          <!-- <label for="secondMethodType">Дэд төрөл</label> -->
        </p-floatlabel>

        <div style="display: flex; gap: 10px">
          <p-floatlabel variant="on">
            <input pInputText type="text" formControlName="methodName" />
            <label for="methodName">Үнэлгээний арга</label>
          </p-floatlabel>

          <p-floatlabel variant="on">
            <p-inputNumber
              formControlName="frequency"
              id="frequency"
              [showButtons]="true"
              [step]="1"
            ></p-inputNumber>
            <label for="frequency">Үнэлгээ хийх давтамж /тоо/</label>
          </p-floatlabel>

          <button
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-danger"
            (click)="removeMethod(planIndex)"
          ></button>
        </div>
      </div>

      <div formArrayName="subMethods" class="answers mb-3">
        <div
          *ngFor="
            let answer of subMethods(planIndex).controls;
            let answerIndex = index
          "
          [formGroupName]="answerIndex"
          class="answer p-inputgroup mb-2"
        >
          <div style="display: flex; gap: 10px">
            <p-floatlabel variant="on">
              <input pInputText type="text" formControlName="subMethod" />
              <label for="subMethod">Дэд арга</label>
            </p-floatlabel>

            <p-floatlabel variant="on">
              <p-inputNumber
                formControlName="point"
                id="point"
                [showButtons]="true"
                [step]="1"
              ></p-inputNumber>
              <label for="point">Оноо</label>
            </p-floatlabel>

            <button
              pButton
              type="button"
              icon="pi pi-times"
              class="p-button-text p-button-danger"
              (click)="removeSubMethod(planIndex, answerIndex)"
            ></button>
          </div>
        </div>

        <button
          pButton
          type="button"
          label="Дэд үнэлгээ нэмэх"
          icon="pi pi-plus"
          severity="info"
          class="p-button-sm p-button-outlined"
          (click)="addSubMethod(planIndex)"
        ></button>
      </div>
    </div>
  </div>
</form>
