<div class="main-container">
    <h1>Welcome</h1>
    <div class="card-container">
        <a class="card" [routerLink]="['/teacher-login']">
            <h2>Багшийн Нэвтрэх</h2>
            <p>Багшийн нэвтрэх хэсэгт орох</p>
        </a>
        <a class="card" [routerLink]="['/student-login']">
            <h2>Оюутны Нэвтрэх</h2>
            <p>Оюутны нэвтрэх хэсэгт орох</p>
        </a>
        <a class="card" [routerLink]="['/admin-login']">
            <h2>Админ Нэвтрэх</h2>
            <p>Админ нэвтрэх хэсэгт орох</p>
        </a>
    </div>
</div>