<div class="additional">
  <p-toast />
  <form [formGroup]="additionalForm">
    <div class="first">
      <div class="sub" formArrayName="additional">
        <div
          *ngFor="let book of additional.controls; let i = index"
          class="w-full line"
        >
          <div
            style="display: flex; flex-direction: column; gap: 10px"
            class="w-full"
          >
            <label [for]="'additional' + i"
              >Хичээлд тавигдах нэмэлт шаардлага {{ i + 1 }}</label
            >
            <input
              pInputText
              [formControlName]="i"
              [id]="'additional' + i"
              autocomplete="off"
              class="p-3 border border-gray-300 rounded-lg focus:border-blue-500"
              readonly
            />
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
