<div class="card">
  <!-- <div class="flex mb-4 gap-2 justify-end">
    <p-button (onClick)="active = '0'" [rounded]="true" label="1" class="w-8 h-8 p-0" [outlined]="active !== '0'" />
    <p-button (onClick)="active = '1'" [rounded]="true" label="2" class="w-8 h-8 p-0" [outlined]="active !== '1'" />
  </div> -->
  <div style="display: flex; justify-content: space-around; margin-top: 2%; place-self: center;  width: 80%;">
    <div class="card flex justify-center">
      <div class="flex flex-col gap-2 " style="flex-direction: column;">
        <label for="questionId">Асуултын ID</label>
        <input pInputText id="questionId" aria-describedby="questionId-help" [(ngModel)]="questionId"
          placeholder="123.." />
        <small id="questionId-help">Enter your username to reset your password.</small>
      </div>
    </div>
    <div class="card flex justify-center">
      <div class="flex flex-col gap-2" style="flex-direction: column;">
        <label for="questionName">Асуултын нэр</label>
        <input pInputText id="questionName" aria-describedby="questionName-help" [(ngModel)]="questionName"
          placeholder="нэр..." />
        <small id="questionName-help">Enter your username to reset your password.</small>
      </div>
    </div>
    <div class="card flex justify-center">
      <div class="flex flex-col gap-2" style="flex-direction: column;">
        <label for="questionPoint">Тус асуултын нийт оноо</label>
        <input pInputText id="questionPoint" aria-describedby="questionPoint-help" [(ngModel)]="questionPoint"
          placeholder="1,2,.." />
        <small id="questionPoint-help">Enter your username to reset your password.</small>
      </div>
    </div>
    <div class="card flex justify-center">
      <div class="flex flex-col gap-2" style="flex-direction: column;">
        <label for="status">Төлөв</label>
        <p-dropdown formControlName="status" [options]="statuss" optionLabel="name" optionValue="id" placeholder="Төлөв"
          class="form-dropdown" />
        <small id="status-help">Enter your status to reset your password.</small>
      </div>
    </div>
  </div>
  <div style=" margin-top: 2%; place-self: center;  width: 75%;">
    <div class="flex flex-col gap-2" style="flex-direction: column;">
      <label for="questionTxt">Асуултын текст</label>
      <p-editor [(ngModel)]="text" [readonly]="false" [style]="{ height: '320px'}" />
    </div>
  </div>

  <p-accordion [(value)]="active">
    <p-accordion-panel value="0">
      <p-accordion-header>Хариултууд</p-accordion-header>
      <p-accordion-content>
        <div style="display: flex; justify-content: space-around; margin-top: 2%; place-self: center;  width: 80%;">
          <div class="card flex justify-center">
            <div class="flex flex-col gap-2 " style="flex-direction: column;">
              <label for="answerId">Хариулт 1</label>
              <input pInputText id="answerId" aria-describedby="answerId-help" [(ngModel)]="answerId"
                placeholder="123.." />
              <small id="answerId-help">Enter your username to reset your password.</small>
            </div>
            <div class="flex flex-col gap-2 " style="flex-direction: column;">
              <label for="answerRate">Үнэлгээ</label>
              <input pInputText id="answerRate" aria-describedby="answerRate-help" [(ngModel)]="answerRate"
                placeholder="123.." />
              <small id="answerRate-help">Enter your username to reset your password.</small>
            </div>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>Header II</p-accordion-header>
      <p-accordion-content>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
