<p-table *ngIf="!isLoading" [value]="lessonControls" rowGroupMode="subheader" groupRowsBy="type" class="custom-table">
    <ng-template pTemplate="header">
        <tr>
            <th>7 хоног</th>
            <th>Сэдэв</th>
            <th>Цаг</th>
        </tr>
    </ng-template>

    <ng-template pTemplate="groupheader" let-lesson>
        <tr pRowGroupHeader>
            <td colspan="3">
                <div class="flex items-center gap-2">
                    <span class="font-bold">{{ lesson.get('type').value }}</span>
                </div>
            </td>
        </tr>
    </ng-template>


    <ng-template pTemplate="body" let-lesson>
        <tr [formGroup]="lesson">
            <td [pEditableColumn]>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber formControlName="week"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ lesson.get('week').value }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText formControlName="title" type="text" />
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ lesson.get('title').value }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td [pEditableColumn]>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputNumber formControlName="time"></p-inputNumber>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{ lesson.get('time').value }}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>