.p-rowgroup-header {
  background-color: #f5f5f5; /* Light gray background */
  font-weight: bold; /* Bold text */
}

:host ::ng-deep .p-datatable th,
:host ::ng-deep .p-datatable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}
