<div class="card" style="display: flex; flex-direction: column; gap: 20px">
  <p-toast></p-toast>
  <p-confirmDialog></p-confirmDialog>
  <div style="display: flex; justify-content: space-between">
    <p-button
      label="Нэмэх"
      class="submit-button"
      severity="info"
      icon="pi pi-plus"
      (click)="addMethod()"
    />
    <p-button
      severity="warn"
      label="Тусламж"
      icon="pi pi-exclamation-circle"
      (onClick)="infoTo()"
    />
  </div>
  <p-table
    [value]="methodologys"
    dataKey="id"
    editMode="row"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th rowspan="2" style="width: 5%">№</th>
        <th rowspan="2" style="width: 15%">Хичээлийн хэлбэр</th>
        <th rowspan="2" style="width: 16%">Сургалтын арга зүй</th>
        <th colspan="3" style="width: 24%">Сургалтын хүргэх хэлбэр</th>
        <th rowspan="2" style="width: 30%">CLOs хамаарал</th>
        <th rowspan="2" style="width: 10%">Үйлдэл</th>
      </tr>
      <tr>
        <th style="width: 8%">Танхим</th>
        <th style="width: 8%">Цахим</th>
        <th style="width: 8%">Хосолсон</th>
      </tr>
    </ng-template>

    <ng-template
      pTemplate="body"
      let-method
      let-editing="editing"
      let-ri="rowIndex"
    >
      <tr [pEditableRow]="method">
        <td>
          {{ ri + 1 }}
        </td>

        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-dropdown
                [options]="pedagogyOptions"
                [(ngModel)]="method.pedagogy"
                optionLabel="label"
                optionValue="value"
                appendTo="body"
              />
            </ng-template>

            <ng-template #output>
              {{ getPedagogyName(method.pedagogy) }}
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-dropdown
                [options]="deliveryModes"
                [(ngModel)]="method.deliveryMode"
                optionLabel="label"
                optionValue="value"
                appendTo="body"
              />
            </ng-template>

            <ng-template #output>
              {{ getDeliveryModeName(method.deliveryMode) }}
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-checkbox
                [(ngModel)]="method.classroom"
                binary="true"
              ></p-checkbox>
            </ng-template>
            <ng-template #output>
              <p-checkbox
                [(ngModel)]="method.classroom"
                binary="true"
                [disabled]="true"
              ></p-checkbox>
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-checkbox
                [(ngModel)]="method.electronic"
                binary="true"
              ></p-checkbox>
            </ng-template>
            <ng-template #output>
              <p-checkbox
                [(ngModel)]="method.electronic"
                binary="true"
                [disabled]="true"
              ></p-checkbox>
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-checkbox
                [(ngModel)]="method.combined"
                binary="true"
              ></p-checkbox>
            </ng-template>
            <ng-template #output>
              <p-checkbox
                [(ngModel)]="method.combined"
                binary="true"
                [disabled]="true"
              ></p-checkbox>
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <p-cellEditor>
            <ng-template #input>
              <p-multiselect
                [options]="clos"
                [(ngModel)]="method.cloRelevance"
                optionLabel="cloName"
                optionValue="id"
                [maxSelectedLabels]="3"
                styleClass="w-full md:w-80"
                appendTo="body"
              >
              </p-multiselect>
            </ng-template>

            <ng-template #output>
              <p-tag
                *ngFor="let cloId of method.cloRelevance"
                [value]="getCloName(cloId)"
              >
              </p-tag>
            </ng-template>
          </p-cellEditor>
        </td>

        <td>
          <div class="flex items-center justify-center gap-2">
            <button
              *ngIf="!editing"
              pButton
              pRipple
              type="button"
              pInitEditableRow
              icon="pi pi-pencil"
              (click)="onRowEditInit(method, ri)"
              text
              rounded
              severity="secondary"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pSaveEditableRow
              icon="pi pi-check"
              (click)="onRowEditSave(method)"
              text
              rounded
              severity="success"
            ></button>
            <button
              *ngIf="editing"
              pButton
              pRipple
              type="button"
              pCancelEditableRow
              icon="pi pi-times"
              (click)="onRowEditCancel(method, ri)"
              text
              rounded
              severity="danger"
            ></button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              (click)="deleteMethod(method)"
              text
              rounded
              severity="danger"
              class="ml-2"
            ></button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
