<p-table [value]="courseDetail" class="p-fluid" *ngIf="data">
  <ng-template pTemplate="body" let-course>
    <tr>
      <td><strong>Хичээлийн нэр</strong></td>
      <td>{{ course.lessonName }}</td>
    </tr>
    <tr>
      <td><strong>Хичээлийн код</strong></td>
      <td>{{ course.lessonCode }}</td>
    </tr>
    <tr>
      <td><strong>Хичээлийн кредит</strong></td>
      <td>{{ course.lessonCredit }}</td>
    </tr>
    <tr>
      <td><strong>Хичээлийн төрөл</strong></td>
      <td>{{ course.lessonType }}</td>
    </tr>
    <tr>
      <td><strong>Хичээл заасан багш</strong></td>
      <td>{{ course.teacher.name }}</td>
    </tr>
    <tr>
      <td><strong>Харьяалагдах салбар/Тэнхим</strong></td>
      <td>{{ course.department }}</td>
    </tr>
    <tr>
      <td><strong>Хичээл заасан улирал</strong></td>
      <td>{{ course.schoolYear }} {{ course.recommendedSemester }}</td>
    </tr>
    <tr>
      <td><strong>Хичээл судалсан оюутны тоо</strong></td>
      <td>{{ studentCount }}</td>
    </tr>
    <tr>
      <td><strong>Сургалтын нийт цагийн задаргаа</strong></td>
      <td>
        Задаргаа: (), Нийт сургалтын цаг: ({{ totalHour }}цаг) Лекц ({{
          course.totalHours.lecture
        }}цаг), Семинар ({{ course.totalHours.seminar }} цаг), Лаборатори ({{
          course.totalHours.lab
        }}цаг), Бие даан суралцах ({{ course.totalHours.assignment }} цаг)
      </td>
    </tr>
  </ng-template>
</p-table>
