<div style="display: flex; width: 100%; gap: 20px">
  <div style="display: flex; flex-direction: column; width: 50%; gap: 20px">
    <p-panel header="Ерөнхий мэдээлэл" toggleable>
      <div class="p-grid p-formgrid gap-container">
        <div class="p-field p-col-12 p-md-6">
          <p>Хичээлийн нэр: {{ lesson.lessonName }}</p>
        </div>

        <div class="p-field p-col-12 p-md-6">
          <p>Хичээлийн код: {{ lesson.lessonCode }}</p>
        </div>

        <div class="p-field p-col-12 p-md-6">
          <p>Кредит: {{ lesson.lessonCredit }}</p>
        </div>

        <div class="p-field p-col-12 p-md-6">
          <p>Сургууль: {{ lesson.school }}</p>
        </div>

        <div class="p-field p-col-12">
          <p>Салбар/Тэнхим: {{ lesson.department }}</p>
        </div>
      </div>
    </p-panel>

    <p-panel header="Үндсэн багш" toggleable>
      <div class="p-grid p-formgrid gap-container">
        <div class="p-field p-col-12 p-md-6">
          <p>Нэр: {{ lesson.teacherName }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Өрөөний дугаар: {{ lesson.teacherRoom }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>И-мэйл: {{ lesson.teacherEmail }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Утас: {{ lesson.teacherPhone }}</p>
        </div>
      </div>
    </p-panel>

    <p-panel header="Туслах багш" toggleable>
      <div class="p-grid p-formgrid gap-container">
        <div class="p-field p-col-12 p-md-6">
          <p>Нэр: {{ lesson.assistantTeacherName }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Өрөөний дугаар: {{ lesson.assistantTeacherRoom }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>И-мэйл: {{ lesson.assistantTeacherEmail }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Утас: {{ lesson.assistantTeacherPhone }}</p>
        </div>
      </div>
    </p-panel>

    <p-panel header="Нэмэлт мэдээлэл" toggleable>
      <div class="p-grid p-formgrid gap-container">
        <div class="p-field p-col-12 p-md-6">
          <p>Түвшин: {{ getLessonLevelName(lesson.lessonLevel) }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Төрөл: {{ getLessonTypeName(lesson.lessonType) }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>
            Санал болгох улирал:
            {{ getSemesterName(lesson.recommendedSemester) }}
          </p>
        </div>
      </div>
    </p-panel>
  </div>
  <div style="display: flex; flex-direction: column; width: 50%; gap: 20px">
    <p-panel header="7 хоногт ногдох сургалтын цаг" toggleable>
      <div class="p-grid p-formgrid gap-container">
        <div class="p-field p-col-12 p-md-6">
          <p>Лекц (7 хоногт): {{ lesson.weeklyLecture }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Семинар: {{ lesson.weeklySeminar }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Лаборатори: {{ lesson.weeklyLab }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Бие даалт: {{ lesson.weeklyAssignment }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Практик: {{ lesson.weeklyPractice }}</p>
        </div>
      </div>
    </p-panel>

    <p-panel header="Нийт танхимын цаг" toggleable>
      <div class="p-grid p-formgrid gap-container">
        <div class="p-field p-col-12 p-md-6">
          <p>Лекц: {{ lesson.totalLecture }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Семинар: {{ lesson.totalSeminar }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Лаборатори: {{ lesson.totalLab }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Бие даалт: {{ lesson.totalAssignment }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Практик: {{ lesson.totalPractice }}</p>
        </div>
      </div>
    </p-panel>

    <p-panel header="Бие даан суралцах цаг" toggleable>
      <div class="p-grid p-formgrid gap-container">
        <div class="p-field p-col-12 p-md-6">
          <p>Лекц: {{ lesson.selfStudyLecture }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Семинар: {{ lesson.selfStudySeminar }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Лаборатори: {{ lesson.selfStudyLab }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Бие даалт: {{ lesson.selfStudyAssignment }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Практик: {{ lesson.selfStudyPractice }}</p>
        </div>
      </div>
    </p-panel>
    <p-panel header="Баталгаажуулалт" toggleable>
      <div class="p-grid p-formgrid gap-container">
        <div class="p-field p-col-12 p-md-6">
          <p>Боловсруулсан багш: {{ lesson.createdTeacherBy }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>
            Огноо: {{ lesson.createdTeacherDatetime | date : "yyyy-MM-dd" }}
          </p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Хянасан салбарын эрхлэгч: {{ lesson.checkManagerBy }}</p>
        </div>
        <div class="p-field p-col-12 p-md-6">
          <p>Огноо: {{ lesson.checkManagerDatetime | date : "yyyy-MM-dd" }}</p>
        </div>
      </div>
    </p-panel>
  </div>
</div>
