<div *ngIf="!tabsReady" class="loader-container">
  <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
</div>

<h2 class="section-title">
  Нийт суралцахуйн үр дүнд харгалзах оюутны гүйцэтгэлийн үнэлгээ
  <span class="subtitle">/үсгэн үнэлгээгээр/</span>
</h2>

<!-- Үнэлгээний хүснэгт -->
<p-table *ngIf="tabsReady" [value]="students" class="custom-table">
  <ng-template pTemplate="header">
    <tr>
      <th class="table-header">д/д</th>
      <th class="table-header">Оюутны нэрс / CLOs</th>
      <ng-container *ngFor="let tab of tabs">
        <th class="table-header">{{ tab.title }}</th>
      </ng-container>
      <th class="table-header">Нийт оноо</th>
      <!-- <th class="table-header">Дундаж оноо</th>
      <th class="table-header">Дундаж хувь</th> -->
    </tr>
    <tr>
      <th colspan="2">Авбал зохих нийт оноо</th>
      <ng-container *ngFor="let tab of tabs">
        <th>{{ tab.totalPoint }}</th>
      </ng-container>
      <th>100</th>
      <!-- <th>10</th>
      <th>100</th> -->
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-student let-index="rowIndex">
    <tr>
      <td>{{ index + 1 }}</td>
      <td>{{ student.studentName }}</td>
      <ng-container *ngFor="let tab of tabs">
        <td>{{ getStudentLetterGrade(student.id, tab.id) }}</td>
      </ng-container>
      <td>{{ student.totalPoint }}</td>
      <!-- <td>{{ student.averagePoint }}</td>
      <td>{{ student.averagePercent }}%</td> -->
    </tr>
  </ng-template>
</p-table>
