<div *ngIf="!tabsReady" class="loader-container">
  <p-progressSpinner styleClass="custom-spinner"></p-progressSpinner>
</div>

<h2 class="section-title">
  Нийт үнэлгээний аргуудад харгалзах оюутны гүйцэтгэлийн үнэлгээ
</h2>
<button
  pButton
  type="button"
  icon="pi pi-file-excel"
  label="Excel экспорт"
  class="p-button-success mb-3"
  (click)="exportExcel()"
></button>
<p-table *ngIf="tabsReady" [value]="students" class="custom-table">
  <ng-template pTemplate="header">
    <tr>
      <th class="table-header" rowspan="2">д/д</th>
      <th class="table-header" rowspan="2">Оюутны нэрс / Үнэлгээний аргууд</th>
      <ng-container *ngFor="let tab of tabs">
        <th class="table-header">
          {{ tab.title }}
        </th>
      </ng-container>
      <th class="table-header" rowspan="2">Нийт оноо</th>
    </tr>
    <tr>
      <ng-container *ngFor="let tab of tabs">
        <th class="table-header">
          <button
            style="color: black"
            pButton
            icon="pi pi-file-excel"
            class="p-button-text p-button-sm ml-2"
            (click)="exportTabExcel(tab)"
            pTooltip="Экспортлох"
            tooltipPosition="top"
          ></button>
        </th>
      </ng-container>
    </tr>
    <tr>
      <th colspan="2">Авбал зохих нийт оноо</th>
      <ng-container *ngFor="let tab of tabs">
        <th>{{ tab.totalPoint }}</th>
      </ng-container>
      <th>100</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-student let-index="rowIndex">
    <tr>
      <td>{{ index + 1 }}</td>
      <td>{{ student.studentName }}</td>
      <ng-container *ngFor="let tab of tabs">
        <td>{{ getStudentGrade(student.id, tab.id) }}</td>
      </ng-container>
      <td>
        <b>{{ student.totalPoint }}</b>
      </td>
    </tr>
  </ng-template>
</p-table>
