<div class="student-list-container">
  <p-toast />
  <div class="filter-section">
    <p-button
      *ngIf="!editActive"
      label="Засах"
      icon="pi pi-file-edit"
      (click)="edit()"
      severity="help"
      class="refresh-btn"
    ></p-button>
    <p-button
      *ngIf="editActive"
      label="Оюутан нэмэх"
      severity="info"
      icon="pi pi-plus"
      (click)="add()"
      class="refresh-btn"
    >
    </p-button>
    <p-button
      *ngIf="editActive"
      label="Хадгалах"
      icon="pi pi-file-save"
      (click)="save()"
      class="refresh-btn"
    ></p-button>
    <p-button
      *ngIf="editActive"
      label="Болих "
      severity="secondary"
      icon="pi pi-times"
      (click)="cancel()"
      class="refresh-btn"
    ></p-button>
    <p-dropdown
      [(ngModel)]="selectedLessonType"
      [options]="lessonTypes"
      optionLabel="label"
      optionValue="value"
      placeholder="Төрөл сонгох"
      (onChange)="filterStudents()"
      class="dropdown-filter"
    ></p-dropdown>

    <p-dropdown
      [(ngModel)]="selectedWeek"
      [options]="weeks"
      optionLabel="name"
      optionValue="id"
      placeholder="Гараг"
      class="dropdown-filter"
      (onChange)="filterStudents()"
    ></p-dropdown>
    <p-dropdown
      [(ngModel)]="selectedTime"
      [options]="timeSlots"
      optionLabel="label"
      optionValue="value"
      placeholder="Цаг сонгох"
      class="dropdown-filter"
      (onChange)="filterStudents()"
    ></p-dropdown>

    <input
      type="text"
      pInputText
      [(ngModel)]="searchQuery"
      (input)="filterStudents()"
      placeholder="Нэр эсвэл ID хайх..."
      class="search-input"
    />
    <p-button
      label="Шүүлт цэвэрлэх"
      icon="pi pi-refresh"
      severity="info"
      (click)="loadStudents()"
      class="refresh-btn"
    ></p-button>
  </div>

  <p-table
    [value]="filteredStudents"
    [paginator]="true"
    [rows]="15"
    responsiveLayout="scroll"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th>Оюутны код</th>
        <th>Нэр</th>
        <th *ngIf="showLecture">Лекц</th>
        <th *ngIf="showSeminar">Семинар</th>
        <th *ngIf="showLab">Лаборатори</th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-student let-index="rowIndex">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>
          <div *ngIf="editActive">
            <input pInputText type="text" [(ngModel)]="student.studentCode" />
          </div>
          <div *ngIf="!editActive">
            {{ student.studentCode }}
          </div>
        </td>
        <td>
          <div *ngIf="editActive">
            <input pInputText type="text" [(ngModel)]="student.studentName" />
          </div>
          <div *ngIf="!editActive">
            {{ student.studentName }}
          </div>
        </td>
        <td *ngIf="showLecture">
          <div *ngIf="editActive">
            <span style="display: flex">
              <p-dropdown
                [options]="weeks"
                optionLabel="name"
                optionValue="id"
                [(ngModel)]="student.alec.day"
                [style]="{ width: '100%' }"
                placeholder="Өдөр оруулна уу."
                (onChange)="onWeekChange(student)"
              ></p-dropdown>
              <p-dropdown
                [options]="timeSlots"
                [(ngModel)]="student.alec.time"
                [style]="{ width: '100%' }"
                placeholder="Цаг оруулна уу."
              ></p-dropdown>
            </span>
          </div>
          <div *ngIf="!editActive">
            <span *ngIf="student.alec?.day"
              >{{ getDayInMongolian(student.alec.day) }} -
              {{ student.alec.time }}пар</span
            >
          </div>
        </td>
        <td *ngIf="showSeminar">
          <div *ngIf="editActive">
            <span style="display: flex">
              <p-dropdown
                [options]="weeks"
                optionLabel="name"
                optionValue="id"
                [(ngModel)]="student.bsem.day"
                [style]="{ width: '100%' }"
                placeholder="Өдөр оруулна уу."
                (onChange)="onWeekChange(student)"
              ></p-dropdown>
              <p-dropdown
                [options]="timeSlots"
                [(ngModel)]="student.bsem.time"
                [style]="{ width: '100%' }"
                placeholder="Цаг оруулна уу."
              ></p-dropdown>
            </span>
          </div>
          <div *ngIf="!editActive">
            <span *ngIf="student.bsem?.day"
              >{{ getDayInMongolian(student.bsem.day) }} -
              {{ student.bsem.time }}пар</span
            >
          </div>
        </td>
        <td *ngIf="showLab">
          <div *ngIf="editActive">
            <span style="display: flex">
              <p-dropdown
                [options]="weeks"
                optionLabel="name"
                optionValue="id"
                [(ngModel)]="student.clab.day"
                [style]="{ width: '100%' }"
                placeholder="Өдөр оруулна уу."
                (onChange)="onWeekChange(student)"
              ></p-dropdown>
              <p-dropdown
                [options]="timeSlots"
                [(ngModel)]="student.clab.time"
                [style]="{ width: '100%' }"
                placeholder="Цаг оруулна уу."
              ></p-dropdown>
            </span>
          </div>
          <div *ngIf="!editActive">
            <span *ngIf="student.clab?.day"
              >{{ getDayInMongolian(student.clab.day) }} -
              {{ student.clab.time }}пар</span
            >
          </div>
        </td>
        <td>
          <p-button
            *ngIf="editActive"
            icon="pi pi-times"
            (click)="delete(student, index)"
            class="refresh-btn"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
