<div class="content">
  <p-toast />
  <!-- <p-card class="auth-card"> -->
  <div class="image-style">
    <p-image src="assets/img/sict.png" alt="Image" width="340" />
  </div>
  <h2 *ngIf="!isActive" class="auth-title">Нууц үг сэргээх гэж байгаа мэйл хаягаа оруулна уу?</h2>
  <h2 *ngIf="isActive" class="auth-title">Шинэ нууц үг оруулна уу?</h2>
  <form [formGroup]="dataModul" class="auth-form">
    <input type="email" pInputText formControlName="email" class="form-input" placeholder="И-мэйл" *ngIf="!isActive"/>
    <div style=" align-self: center; width: 70%;">
      <p-password formControlName="password" styleClass="custom-password" placeholder="Шинэ нууц үг"
      [style]="{ width: '100%', margin: '20px 0px'}"  [toggleMask]="true" *ngIf="isActive"/>
      <p-password formControlName="confirmPassword" styleClass="custom-password" placeholder="Давтаж оруулна уу"
      [style]="{ width: '100%'}"  [toggleMask]="true" *ngIf="isActive"/>
    </div>
    <div class="bottom-btns">
      <p-button label="Буцах" class="submit-button" (click)="returnScreen()"/>
      <p-button label="Илгээх" class="submit-button" (click)="submitButton()" *ngIf="!isActive"/>
      <p-button label="Илгээх" class="submit-button" (click)="resetPassButton()" *ngIf="isActive"/>
    </div>
  </form>
  <!-- </p-card> -->
</div>
